html
    head
        title= mem
    style
        include ../style.css
    body
        h1= "History of prices of meme no. "
        h2= meme.id.toString()
        table
            each price in meme.priceTable
                tr
                    td #{price.toString()}

        form(action= url method="POST")
            input(type='number' name='price')
            | New price
            br
            input(type='submit' value='Submit' id = 'button')
            |
            input(type="hidden" name="_csrf" value=token)
        p Visited sites: #{visited}
